################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PSAvroTools/bin/Debug/netstandard2.0
/PSAvroTools/obj
